<div style="fieldset">
  <%= comment.commenter %> says:<br>

  <%= comment.body %>
</div>

<p>
  <%= link_to 'Delete Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
